@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --Gradient: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --Pale_Blue: hsl(243, 100%, 93%);
  --Grayish_Blue: hsl(229, 7%, 55%);
  --Dark_Blue: hsl(228, 56%, 26%);
  --Very_Dark_Blue: hsl(229, 57%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  color: var(--Pale_Blue);
  font-size: 1.4rem;
  background-color: #000;
  display: flex;
  align-items: center;
}

h1 {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 1.5rem;
}

p {
  padding-top: 0.8rem;
}

#main_container {
  position: relative;
  width: 144rem;
  height: 80rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transition: all 0.3s ease;
}
#main_container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--Very_Dark_Blue);
  z-index: -1;
}

.container {
  width: 100%;
  height: auto;
  margin-top: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 56.25em) {
  #main_container {
    width: 37.5rem;
    height: 100vh;
    margin: auto;
    background-image: url(./images/bg-mobile.png);
    background-position: center;
  }

  .container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
/* left */
#left {
  width: 35rem;
  height: 20rem;
  margin-bottom: 4.6rem;
  border-radius: 1rem 10rem 1rem 1rem;
  background-color: var(--Dark_Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_area,
.icon_area {
  padding: 1.6rem 0 1.6rem 4.1rem;
  display: flex;
}
.logo_area .btn,
.icon_area .btn {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 1.6rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--Very_Dark_Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo_area a,
.icon_area a {
  display: block;
  padding: 1rem 0;
}

@media (max-width: 56.25em) {
  #left {
    width: 32.8rem;
    margin-bottom: 0;
  }
}
/* right */
#right {
  position: relative;
  width: 54rem;
  height: 15.4rem;
  padding: 3rem 4rem;
  border-radius: 1rem;
  background-color: var(--Dark_Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#pop {
  position: absolute;
  bottom: 12.8rem;
  right: 4rem;
  width: 17.8rem;
  height: 7.2rem;
  background-color: white;
  border-radius: 1rem 1rem 0 1rem;
  color: var(--Grayish_Blue);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pop span {
  color: var(--Very_Dark_Blue);
  font-size: 4rem;
  letter-spacing: 0;
}
#pop::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  right: 0rem;
  border-top: 2rem solid white;
  border-right: 2rem solid white;
  border-left: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
}

#range {
  position: relative;
  width: 46rem;
  height: 2rem;
  background-color: rgba(12, 18, 44, 0.5);
  border: none;
  border-radius: 1rem;
}
#range::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  background: var(--Gradient);
  width: 34rem;
  height: 1.4rem;
  border-radius: 1rem;
}
#range::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 33.1rem;
  background: white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

#scale {
  font-size: 1.2rem;
  font-weight: 700;
}
#scale span {
  position: absolute;
  right: 4rem;
}

@media (max-width: 899px) {
  #right {
    position: relative;
    width: 32.8rem;
    padding: 2rem 3rem 4rem 3rem;
  }

  h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  #pop {
    position: absolute;
    border-radius: 1rem;
    bottom: -3.6rem;
    right: 7.5rem;
  }
  #pop::after {
    content: none;
  }

  #range {
    max-width: 100%;
  }
  #range::before {
    width: 20rem;
  }
  #range::after {
    left: 19.1rem;
  }

  #scale span {
    position: absolute;
    right: 3rem;
  }
}/*# sourceMappingURL=style.css.map */